@media only screen and (max-width: 980px) {
    h1#cityname {
        font-size: 35px;
    }

    div.main {
        margin-top: 20px;
    }

    div.global {
        width: 100%;
        padding: 5px;
    }
    
    div.image {
        margin: 0;
    }

    div.content {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 819px) {
    
    div.global {
        width: 100%;
        padding: 10px;
    }

    div.main {
        margin-top: 20px;
    }
    
    h1#cityname {
        font-size: 30px;
    }

    div.content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    div.clock {
        margin-bottom: 30px;
    }

    div.image {
        margin: 0;
    }
    
}


@media only screen and (max-width: 620px) {
    

    div.main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    div.global {
        width: 100%;
        padding: 10px;
    }

    div.city {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
    }

    div.content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        margin-top: 40px;
    }

    div.icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div.clock {
        margin-bottom: 20px;
    }

    h1#cityname {
        font-size: 25px;
    }

    p#days.time {
        font-size: 18px;
    }

    div.icon {
        padding: 5px;
    }

    p#watch.hour {
        font-size: 30px;
    }

    p#sunset.sun-temp {
        font-size: 20px;
        margin: 5px 0 0 0;
    }

    p#sunrise.sun-temp {
        font-size: 20px;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 330px) {
    
    div.content {
        margin-top: 40px;
    }

    div.city {
        margin-top: 10px;
    }

    h1#cityname {
        font-size: 20px;
    }

    p#watch.hour {
        font-size: 25px;
    }

    p#desc.descDay {
        font-size: 25px;
    }

    p#temperature.temperatureDay {
        font-size: 25px;
    }

    p#sunrise.sun-temp {
        margin-right: 57px;
    }
}